.ReviewItem {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.poster-image,
.placeholder {
  width: 120px;
  height: 160px;
  background-color: #7b7b7b;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}

.img-edit_section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-edit_section button {
  margin-top: 10px;
  width: 100%;
}

.info_section {
  cursor: pointer;
  width: 445px;
}

.ReviewItem p {
  font-size: 14px;
  color: #7b7b7b;
  margin: 8px 0px;
}

.info_section .created_date {
  font-size: 14px;
  color: #7b7b7b;
  margin: 15px 0px 5px 0px;
}

.contentTitle_section {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  gap: 10px; /* 카테고리와 제목 간격 */
}

.contentTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  flex-grow: 1; /* 자동 조절 */
  min-width: 0; /* 줄어들 수 있도록 설정 */
  max-width: calc(100% - 80px); /* 🔥 최대 너비 설정 (카테고리와 여백 고려) */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* 긴 제목은 한 줄 유지 */
}

.content {
  flex: 1;
}

.rating {
  display: flex;
}
.star {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  color: #f39c12;
  font-size: 25px;
}

.genre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.genre span {
  color: navy;
  margin-right: 5px;
}
